# Assignment 1: Based on Basic Python

#### ** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [3]:
s = "Hi there Yogesh!"

In [4]:
s.split()

['Hi', 'there', 'Yogesh!']

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth" 
diameter = 12742

In [6]:
'The diameter of {} is {} kilometers'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [9]:
lst[3][1][2][0]

'hello'

 ** Given this nested dictionary grab the word "hello"

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [13]:
# Tuple is immutable and list is mutable.

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [18]:
def get_domain(email):
    return email.split('@')[-1]

In [19]:
get_domain('shivai.aher@gmail.com')

'gmail.com'

In [20]:
s='shivai.aher@gmail.com'

In [22]:
s.split('@')[1]

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def find_dog(s):
    return 'dog' in s.split()

In [24]:
find_dog('Where is your dog')

True

In [25]:
find_dog('Where is your doll')

False

In [26]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [27]:
find_dog('Where is your dog')

True

In [28]:
find_dog('Where is your Dog')

True

In [29]:
find_dog('Where is your DOG')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [30]:
def find_count(s):
    count=0
    for v in s.lower().split():
        if v=='dog':
            count += 1
    return count

In [35]:
find_count("that dog dog bite other Dog all doG bark at night that DOG eats dOG food")

6

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [36]:
seq = ['soup','dog','salad','cat','great']

In [37]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [38]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [40]:
list(filter(lambda x:x[0]=='s',seq))

['soup', 'salad']

*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [41]:
def speed_catch(speed,birthday):
    if birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        print("BIG TICKET")
    elif new_speed>60:
        return "SMALL TICKET"
    else: 
        return "NO TICKET"

In [42]:
speed_catch(82,True)

'SMALL TICKET'

In [43]:
speed_catch(82,False)

BIG TICKET

In [44]:
speed_catch(62,True)

'NO TICKET'

In [45]:
speed_catch(62,False)

'SMALL TICKET'

In [46]:
speed_catch(59,False)

'NO TICKET'

In [47]:
speed_catch(59,True)

'NO TICKET'

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [49]:
s=input("Enter the Input:")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]== '-':
    num=num+s[0]
for c in s:
    if c in str(a):
        num=num+c
print(num)

Enter the Input:abc45mk89ol0
45890

WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [51]:
num1=input("Enter the number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is:",num3)
    print("Reverse is:",num3[::-1])
print("Palindrome is:",num3)

Enter the number:88
Number is: 847
Reverse is: 748
Number is: 1595
Reverse is: 5951
Number is: 7546
Reverse is: 6457
Number is: 14003
Reverse is: 30041
Number is: 44044
Reverse is: 44044
Palindrome is: 44044

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [55]:
def fivedigitnumber():
    for i in range(9,0,-1):
        first=i
        second = i-2
        third=i-4
        fourth=i-6
        fifth=i-4
    if third+fourth+fifth==first:
        if (first+second+third+fourth+fifth)==19:
            return(int(str(first)+str(second)+str(third)+str(fourth)+str(fifth)))
print(fivedigitnumber())

None